{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.spec.ts"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "extends": "standard-with-typescript",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "operator-linebreak": [
      "error",
      "before",
      {
        "overrides": {
          "+": "after",
          "&&": "after",
          "||": "after"
        }
      }
    ],
    "max-len": [
      "error",
      {
        "code": 125,
        "tabWidth": 2,
        "ignoreRegExpLiterals": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/strict-boolean-expressions": 1,
    "@typescript-eslint/return-await": 0,
    "@typescript-eslint/array-type": 0,
    "@typescript-eslint/consistent-type-assertions": 1,
    "@typescript-eslint/promise-function-async": 0
  }
}
